<div class="message-item">
  <div class="who">
    {{gravatar-image
      email=
      class='img-circle'
      size='65'
    }}
  </div>
  <div class="message-area">
    <div class="message-content">
      {{#if isEditable}}
        <form onsubmit={{action 'newMessage'}}>
          <input id="new-message-input" type="text" autocomplete="off">
        </form>
      {{else}}
        {{model.content}}
      {{/if}}
    </div>
    <div class="message-time">

    </div>
  </div>
</div>





